<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10010" id="com.trichromehealth.member.bp" ios-CFBundleVersion="0.0.1" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Blood Pressure Assistant</name>
    <description>
        Blood pressure self-management assistant application
    </description>
    <author email="victor.crudu@trichromehealth.com" href="http://www.trichromehealth.com/">
        Victor Crudu
    </author>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="26" />
        <preference name="android-minSdkVersion" value="23" />
        <preference name="xwalkMultipleApk" value="false" />
        <resource-file src="google-services.json" target="app/google-services.json" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permissions.NETWORK_ACCESS" />
            <uses-permission android:name="android.permissions.ACCESS_NETWORK_STATE" />
        </config-file>
        <icon density="ldpi" src="res/icon/android/icon-36.png" />
        <icon density="mdpi" src="res/icon/android/icon-48.png" />
        <icon density="hdpi" src="res/icon/android/icon-72.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-144.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-192.png" />
        <splash density="land-hdpi" src="res/screen/android/screen-hdpi-landscape.png" />
        <splash density="land-ldpi" src="res/screen/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/screen/android/screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="land-xxhdpi" src="res/screen/android/screen-xxhdpi-landscape.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/screen-xxxhdpi-landscape.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
        <splash density="port-xxhdpi" src="res/screen/android/screen-xxhdpi-portrait.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/screen-xxxhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/Icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/Icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/Icon-60@3x.png" width="180" />
        <icon height="76" src="res/icon/ios/Icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/Icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/Icon-Small-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-Small-40@2x.png" width="80" />
        <icon height="120" src="res/icon/ios/icon-Small-40@3x.png" width="120" />
        <icon height="57" src="res/icon/ios/Icon.png" width="57" />
        <icon height="114" src="res/icon/ios/Icon@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/Icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/Icon-72@2x.png" width="144" />
        <icon height="29" src="res/icon/ios/Icon-Small.png" width="29" />
        <icon height="58" src="res/icon/ios/Icon-Small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/Icon-Small@3x.png" width="87" />
        <icon height="50" src="res/icon/ios/Icon-Small-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-Small-50@2x.png" width="100" />
        <icon height="167" src="res/icon/ios/Icon-83.5@2x.png" width="167" />
        <icon height="1024" src="res/icon/ios/Icon-1024.png" width="1024" />
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320" />
        <splash height="960" src="res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="KeychainAccessibility" value="WhenUnlocked" />
        <allow-navigation href="https://app.trichromehealth.com/#/patient/patient.devices/patient.devices.buy?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6InZjcnVkdUBob3RtYWlsLmNvbSIsImlhdCI6MTUyMDU1MTI5OX0.CepkyHlhAqGTi9JdYzfFbH64ztmvZS9xq5xjQRLwEuU" />
        <allow-navigation href="about:blank" />
        <allow-navigation href="*" />
        <custom-config-file parent="NSBluetoothPeripheralUsageDescription" platform="ios" target="*-Info.plist">
            <string>The application uses the bluetooth to connect to medical devices for collecting the vital-signs.</string>
        </custom-config-file>
        <custom-config-file parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
            <string>Hi! We might need your camera for meetings.</string>
        </custom-config-file>
        <custom-config-file parent="NSMicrophoneUsageDescription" platform="ios" target="*-Info.plist">
            <string>Hi! We might need your mic for meetings.</string>
        </custom-config-file>
        <custom-config-file parent="NSPhotoLibraryUsageDescription" platform="ios" target="*-Info.plist">
            <string>Hi! We might need your photo for meetings.</string>
        </custom-config-file>
        <custom-config-file parent="NSHealthShareUsageDescription" platform="ios" target="*-Info.plist">
            <string>App needs read access</string>
        </custom-config-file>
        <custom-config-file parent="NSHealthUpdateUsageDescription" platform="ios" target="*-Info.plist">
            <string>App needs write access</string>
        </custom-config-file>
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-audioinput" spec="^0.3.0" />
    <plugin name="cordova-plugin-media" spec="^5.0.2" />
    <plugin name="cordova-plugin-ios-microphone-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-ble-central" spec="^1.1.4">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value="Connect with medical devices." />
    </plugin>
    <plugin name="cordova-plugin-keyboard" spec="^1.2.0" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="KeyboardShrinksView" value="false" />
    <plugin name="cordova.plugin.nativealert" spec="https://github.com/vigneshuvi/cordova-plugin-nativealert.git" />
    <plugin name="cordova-plugin-secure-storage" spec="^2.6.8" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-device-motion" spec="^1.2.5" />
    <plugin name="cordova-plugin-nativeaudio" spec="^3.0.9" />
    <allow-navigation href="https://app.trichromehealth.com/#/patient/patient.devices/patient.devices.buy?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6InZjcnVkdUBob3RtYWlsLmNvbSIsImlhdCI6MTUyMDU1MTI5OX0.CepkyHlhAqGTi9JdYzfFbH64ztmvZS9xq5xjQRLwEuU" />
    <allow-navigation href="about:blank" />
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-health" spec="git+https://github.com/dariosalvi78/cordova-plugin-health.git">
        <variable name="HEALTH_READ_PERMISSION" value="App needs read access" />
        <variable name="HEALTH_WRITE_PERMISSION" value="App needs write access" />
    </plugin>
    <engine name="ios" spec="^4.5.5" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
</widget>
