<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>The application connects to medical devices to collect your vital signs.</string>
    <key>CFBundleGetInfoString</key>
    <string>Privacy - Bluetooth Always Usage Description</string>
    <key>LSApplicationCategoryType</key>
    <string/>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>Blood Pressure Assistant</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIcons</key>
    <dict/>
    <key>CFBundleIcons~ipad</key>
    <dict/>
    <key>CFBundleIdentifier</key>
    <string>com.trichromehealth.member.bp</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.4</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>NSBluetoothPeripheralUsageDescription </key>
        <string>The application uses the bluetooth to connect to medical devices for collecting the vital-signs.</string>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>0.0.1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>app.trichromehealth.com</key>
        <dict/>
        <key>blank</key>
        <dict/>
      </dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string/>
    <key>NSCameraUsageDescription</key>
    <string>Hi! We might need your camera for meetings.</string>
    <key>NSHealthShareUsageDescription</key>
    <string>App needs read access</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>App needs write access</string>
    <key>NSMainNibFile</key>
    <string/>
    <key>NSMainNibFile~ipad</key>
    <string/>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs microphone access</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Hi! We might need your photo for meetings.</string>
    <key>UIInterfaceOrientation</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
  </dict>
</plist>