<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>UA-767PBT-Ci</title>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="../lib/mprogress/mprogress.min.css">
    <link rel="stylesheet" href="../styles/ldpi.css" media="screen and (-webkit-min-device-pixel-ratio: 0.75)">
    <link rel="stylesheet" href="../styles/mdpi.css" media="screen and (-webkit-min-device-pixel-ratio: 1)">
    <link rel="stylesheet" href="../styles/hdpi.css" media="screen and (-webkit-min-device-pixel-ratio: 1.5)">
    <link rel="stylesheet" href="../styles/xhdpi.css" media="screen and (-webkit-min-device-pixel-ratio: 2)">
    <link rel="stylesheet" href="../resources/js/fullcalendar-scheduler-1.1.0-beta/fullcalendar.min.css">
    <link rel="stylesheet" href="../resources/js/fullcalendar-scheduler-1.1.0-beta/scheduler.min.css">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="styles/wizard.css">
    <link rel="stylesheet" href="styles/bloodpressure.css">
</head>
<body>

<!-- Full Page Image Background Carousel Header -->
<header id="measure-wizard" class="carousel slide">
    <div id="blood-pressure-measure-progress"></div>
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="carousel-caption">
                <h3 class="primary-text">Step 1</h3>
                <h5 class="primary-text">Wrap the cuff smoothly and snugly around the upper part of your arm then press power button and wait while your Blood Pressure is taking measurements.</h5>
            </div>
            <div class="fill">
                <img src="images/blood-pressure-measure-01.png" alt="Slide 1" class="img-responsive"/>
            </div>
        </div>
        <div class="item">
            <!-- Set the first background image using inline CSS below. -->
            <div class="carousel-caption">
                <h3 class="primary-text">Step 2</h3>
                <h5 class="primary-text">Confirm your measurements, please.</h5>
            </div>
            <div class="fill">
                <img src="images/blood-pressure-measure-02.png" alt="Slide 2" class="img-responsive"/>
            </div>
        </div>
        <div class="item">
            <!-- Set the first background image using inline CSS below. -->
            <div class="carousel-caption">
                <h3 class="primary-text">Step 3</h3>
                <h5 class="primary-text">Your Blood Pressure measurements have been sent to the cloud. Thank you!</h5>
            </div>
            <div class="fill">
                <img src="images/blood-pressure-measure-03.png" alt="Slide 3" class="img-responsive"/>
            </div>
        </div>
        <div class="item">
            <!-- Set the first background image using inline CSS below. -->
            <div class="carousel-caption">
                <h3 class="primary-text">Step 4</h3>
                <h5 class="primary-text">Your Oximeter measurements have been sent to the cloud. Thank you!</h5>
            </div>
            <div class="fill">
                <img src="images/oxymeter-measure-04.png" alt="Slide 1" class="img-responsive"/>
            </div>
        </div>
    </div>

    <div id="blood-pressure-measure">
    </div>
</header>

<script type="text/javascript" src="../model/EventBus.js"></script>
<script type="text/javascript" src="../model/Bridge.js"></script>
<script type="text/javascript" src="../lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../lib/JSON-js/json2.js"></script>
<script type="text/javascript" src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap-material-design/dist/js/material.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script type="text/javascript" src="../lib/react/react.js"></script>
<script type="text/javascript" src="../lib/react/react-dom.js"></script>
<script type="text/javascript" src="../lib/moment/min/moment.min.js"></script>
<script type="text/javascript" src="../lib/mprogress/mprogress.min.js"></script>

<script type="text/javascript" src="js/UC-355PBT-Ci-measure.js"></script>

<script>
    $(document).ready(function() {
        $("body").height($(window).height());
        $(".carousel").carousel({
            interval: 0 //changes the speed
        });
    });

    $(window).resize(function() {
        if (window.outerHeight < window.outerWidth) {
            console.log("orientation changed");
        } else if (window.outerHeight > window.outerWidth) {
            console.log("orientation changed");
        }

        window.location.href = window.location.href;
    });
</script>
</body>
</html>