@import "../../styles/fonts.css";

#blood-pressure {
    margin-top: -80px;
}

#blood-pressure-measure {
    margin-top: -80px;
}

.btn-default {
    width: auto;
}

.row-data-cells {
    margin-top:-9px;
}

.row-data-cells > .data-cell  {
    padding:10px;
    text-align: center;
    font-size:18px;
    color:#8bc34a;
}

/* -------------------------------------- *\
    #Landscape Orientation Only
\* -------------------------------------- */
@media screen and (orientation:landscape) {
    #blood-pressure {
        margin-top: 50px;
        position:static;
    }
}