<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Timeline Message</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/material-design-lite/material.icons.min.css">
    <link rel="stylesheet" href="../styles/material-design-lite/material.grey-deep_purple.min.css">
    <link rel="stylesheet" href="../lib/mprogress/mprogress.min.css">

    <link rel="stylesheet" href="../styles/main-material.css">

    <link rel="stylesheet" href="styles/timeline.css">
</head>
<body>

<div id="timeline-message">
</div>

<script type="text/javascript" src="../model/Bridge.js"></script>
<script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../lib/material-design-lite/material.min.js"></script>
<script type="text/javascript" src="../lib/react/react.js"></script>
<script type="text/javascript" src="../lib/react/react-dom.js"></script>
<script type="text/javascript" src="../lib/mprogress/mprogress.min.js"></script>

<script type="text/javascript" src="js/timeline-message.js"></script>
</body>
</html>