<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Appointments</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../resources/js/fullcalendar-scheduler-1.1.0-beta/fullcalendar.min.css">
    <link rel="stylesheet" href="../resources/js/fullcalendar-scheduler-1.1.0-beta/scheduler.min.css">
    <link rel="stylesheet" href="../resources/js/mobiscroll/mobiscroll.custom-2.17.2.min.css">
    <link rel="stylesheet" href="../styles/material-design-lite/material.icons.min.css">
    <!--<link rel="stylesheet" href="../styles/material-design-lite/material.grey-deep_purple.min.css">-->
    <link rel="stylesheet" href="../lib/react-mdl/extra/css/material.grey-deep_purple.min.css">
    <link rel="stylesheet" href="../lib/mprogress/mprogress.min.css">
    <link rel="stylesheet" href="../styles/main-material.css">
    <link rel="stylesheet" href="styles/patient-symptomate.css">

</head>
<body>
<div id="patient-symptomate" class="patient-symptomate">

</div>

<script type="text/javascript" src="../model/Bridge.js"></script>
<script type="text/javascript" src="../model/Bridge.Symptomate.js"></script>
<script type="text/javascript" src="../lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    jQuery(document).on("mobileinit", function() {
        jQuery.mobile.autoInitializePage = false;
    });
</script>
<script type="text/javascript" src="../resources/js/jQuery.mobile.swipe/jQuery.mobile.swipe.min.js"></script>
<script type="text/javascript" src="../lib/JSON-js/json2.js"></script>
<script type="text/javascript" src="../lib/react/react.js"></script>
<script type="text/javascript" src="../lib/react/react-dom.js"></script>
<!--<script type="text/javascript" src="../lib/material-design-lite/material.min.js"></script>-->
<script type="text/javascript" src="../lib/react-mdl/extra/material.min.js"></script>
<script type="text/javascript" src="../lib/moment/min/moment.min.js"></script>
<script type="text/javascript" src="../resources/js/fullcalendar-scheduler-1.1.0-beta/fullcalendar.js"></script>
<script type="text/javascript" src="../resources/js/fullcalendar-scheduler-1.1.0-beta/scheduler.min.js"></script>
<script type="text/javascript" src="../resources/js/mobiscroll/mobiscroll.custom-2.17.2.min.js"></script>
<script type="text/javascript" src="../lib/mprogress/mprogress.min.js"></script>
<script type="text/javascript" src="../lib/react-mdl/out/ReactMDL.min.js"></script>

<script type="text/javascript" src="js/patient-symptomate.js"></script>
</body>
</html>