<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/material-design-lite/material.icons.min.css">
    <link rel="stylesheet" href="../styles/material-design-lite/material.grey-deep_purple.min.css">
    <link rel="stylesheet" href="styles/charts.css">
    <link rel="stylesheet" href="../lib/mprogress/mprogress.min.css">
    <link rel="stylesheet" href="../styles/main-material.css">
    <link rel="stylesheet" href="styles/provide-profile-details.css">

</head>
<body>

<div id="provider-profile-details-container"></div>

<script type="text/javascript" src="../model/Bridge.js"></script>
<script type="text/javascript" src="../model/Bridge.Provider.js"></script>
<script type="text/javascript" src="../model/Bridge.Symptomate.js"></script>
<script type="text/javascript" src="../lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../lib/JSON-js/json2.js"></script>
<script type="text/javascript" src="../lib/material-design-lite/material.min.js"></script>
<script type="text/javascript" src="../lib/d3/d3.min.js"></script>
<script type="text/javascript" src="../resources/js/modernizr/modernizr.svg.js"></script>
<script type="text/javascript" src="../resources/js/d3.tip/d3.tip.js"></script>
<script type="text/javascript" src="../lib/react/react.js"></script>
<script type="text/javascript" src="../lib/react/react-dom.js"></script>
<script type="text/javascript" src="../lib/moment/min/moment.min.js"></script>
<script type="text/javascript" src="../lib/mprogress/mprogress.min.js"></script>

<script type="text/javascript" src="../model/VitalSignsFactory.js"></script>

<script type="text/javascript" src="js/provider-profile-details.js"></script>

</body>
</html>