<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Provider Vital Sings</title>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-material-design-icons/css/material-icons.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="../resources/js/fullcalendar-scheduler-1.1.0-beta/fullcalendar.min.css">
    <link rel="stylesheet" href="../resources/js/fullcalendar-scheduler-1.1.0-beta/scheduler.min.css">
    <link rel="stylesheet" href="styles/charts.css">

    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

<div id="provider-vital-sings-container"></div>

<script type="text/javascript" src="../model/Bridge.js"></script>
<script type="text/javascript" src="../model/Bridge.Provider.js"></script>
<script type="text/javascript" src="../lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../lib/JSON-js/json2.js"></script>
<script type="text/javascript" src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap-material-design/dist/js/material.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script type="text/javascript" src="../lib/d3/d3.min.js"></script>
<script type="text/javascript" src="../resources/js/modernizr/modernizr.svg.js"></script>
<script type="text/javascript" src="../resources/js/d3.tip/d3.tip.js"></script>
<script type="text/javascript" src="../lib/react/react.js"></script>
<script type="text/javascript" src="../lib/react/react-dom.js"></script>
<script type="text/javascript" src="../lib/moment/min/moment.min.js"></script>
<script type="text/javascript" src="../model/VitalSignsFactory.js"></script>

<script type="text/javascript" src="js/provider-vital-signs.js"></script>
</body>
</html>